.todo-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 0.2rem;
  padding: 0.5rem 1.4rem;
  min-height: 3rem;
  height: 3rem;
  background-color: var(--primary-color);
}

.todo-item[data-done='true'] > .todo-item-text {
  text-decoration: line-through;
  opacity: 0.5;
}

.todo-item-text {
  overflow: hidden;
}

.todo-remove {
  margin-left: auto;
  padding-right: 0;
}

.todo-remove:disabled {
  visibility: hidden;
}
