:root {
  line-height: 1.5;
  font-weight: 400;

  --primary-color: #caf0f8;
  --secondary-color: #8dc0cb;
  --accent-color: #90e0ef;
  --text-color: #03045e;
  --theme-color: #90e0ef;
  --border-color: #16454f;

  /* --primary-color: #3a5a40;
  --secondary-color: #344e41;
  --accent-color: #588157;
  --text-color: #d1fdea;
  --theme-color: #588157;
  --border-color: #8ab9a5; */

  --primary-color: #111213;
  --secondary-color: #26292d;
  --accent-color: #151515;
  --text-color: #e5dfde;
  --theme-color: #1a64c4;
  --border-color: #707070;

  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--primary-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  color: var(--text-color);
  outline: none;
}
button:disabled {
  opacity: 0.4;
}
button:not(:disabled) {
  cursor: pointer;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

button {
  background-color: transparent;
  border: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
}
